@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Bold.ttf");
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

html {

    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Roboto";
    line-height: 1.4;
}

.header {
    padding: 0 20px;
    background-color: #7dce13;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
    font-size: 24px;
    transition: color 0.5s;
}

.nav-link:hover {
    color: blueviolet;
}

.main {
    padding: 0 20px;
    background-color: #f9f9c5;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 50%;
}

.section-profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.section-profile {
    width: 100%;
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}

.section-title-profession {
    text-align: center;
}

.section-title-name {
    color: indigo;
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.section-title {
    padding-left: 40px;
    color: indigo;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.avatar {
    width: 250px;
}

.contact-list, .skill-list, .course-list, .project-list {
    padding: 0;
}

.contact-item, .skill-item, .course-item {
    list-style: none;
    color: darkslategray;
    font-weight: normal;
    font-size: 20px;
}

.project-item {
    list-style: none;
}

.project-link {
    text-decoration: none;
    color: darkslategray;
    font-weight: normal;
    font-size: 20px;
}

.pre {
    margin: 0;
    margin-left: -170px;
    color: darkslategray;
    font-weight: normal;
    font-size: 14px;
}

@media (max-width: 1100px) 
    and (min-width: 768px) {
    .pre {
        font-size: 1.25vw;
    }
}

@media (max-width: 570px) {
    .pre {
        margin-left: -140px;
        font-size: 2.35vw;
    }
}

p {
    color: darkslategray;
    font-weight: normal;
    font-size: 20px;
}

.footer {
    padding: 20px;
    background-color: #c4dfaa;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.year {
    color: darkslategray;
    font-weight: normal;
    font-size: 20px;
}

.github-link {
    text-decoration: none;
    color: darkslategray;
    font-weight: normal;
    font-size: 20px;
}

.img-rsschool {
    width: 100px;
}